*{
	margin:0px;
	padding:0px;

} 
body { background-image: url('https://cdn.pixabay.com/photo/2014/11/28/01/01/jay-548381_1280.jpg');
background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;s
}

div.box{
	position:relative;
	bottom:-400px;
	right:450px;
	border-color:blue;
	border-radius: 30px;
	border-width: 100px;
	background-color:deepskyblue;
	margin: auto;
	width:190px;
	padding:100px;
	
	height:550px;
	padding-top:20px;
	background:rgba(0,0,0,0.1);
	box-shadow: 20px 15px 10px 15px pink;

 
}
div.box input{
	width:250px;
	position: relative;
	right:80px;
	height: 40px;
}
div.box1{
        position: relative;
        bottom:250px;
        right:15px;
        border-radius: 30px;
        border-color: red;
        border-width: 100px;
        background-color: yellowgreen;
        margin:auto;
        width:200px;
        padding:100px;
        height:300px;
        background:rgba(0,0,0,0.5);
        box-shadow: 20px 15px 10px 15px ghostwhite;

}
div.box1 input[type="file"]{
	position: relative;
	right:50px;
	cursor: pointer;
}
div.box2{
	position: relative;
	left:900px;
	bottom:700px;
	width:300px;
	padding-top: 100px;
	padding-left: 100px;
	height: 300px;
	border-radius: 35px;
	background:rgba(0,0,0,0.6);
	box-shadow: 20px 15px 10px 15px yellow;
	text-align: center;
	cursor: pointer;
}

 

div.box h1{
	position: relative;
	bottom:20px;
	right:20px;
	width:600px;
}
div.box p{
	position: relative;
	right:80px;
	top:3px;

}
div.box2 p{
	position: relative;
	bottom:1px;
	right:150px;
}

.button{
	width:100px;
	color:black;
	background-color: red;
	height: 50px;
	cursor: pointer;
	position: relative;
	right:50px;
	border-radius: 30px;
}
.button2{
	position: relative;
	left:50px;
	bottom:50px;
}
.button4{
	position: relative;
	left:50px;
	bottom:50px;
}
input:required{
  border:5px solid pink;
}
div.box3{
	position: relative;
	left:1270px;
	bottom:1000px;
	width:50px;
	height: 0px;
	cursor: pointer;
}
div.box2 input[type="file"]{
	position:relative;
	right:140px;
	width:200px;
	height: 260px;
	cursor: pointer;
	border-radius: 30px;
}
div.box3 input[type="file"]{
	position:relative;
	right:160px;
	width:180px;
	height: 260px; 
	cursor: pointer;
	border-radius: 30px;
}
div.box3 p{
	position: relative;
	bottom:1px;
	right:100px;
}
#boxi{
    position: relative;
    top:-1500px;
    box-shadow: 20px 15px 10px 15px deepskyblue;
    border-radius: 30px;
    right:-700px;
    cursor: pointer;
}
p{
	position: relative;
	top:-1795px;
	right:-50px;
	width:560px;
	height: -10px;

}
ul{
	list-style-type: none;
}
li{
	display: inline;
	width: 400px;
	height: 100px;
	padding: 200px;
}
.nav button{
	width: 150px;
	height: 50px;
	border-radius: 40px;
	cursor: pointer;
}
.nav button:hover{
	width:190px;
	height: 70px;
	border: 9px solid darkslategray;
	box-shadow: 3px 4px gray;
	font-size: 25px;
	background-color:lightyellow ;
}